	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/11/2018 19:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-yarn:before { content: "\f100"; }
.flaticon-iron:before { content: "\f101"; }
.flaticon-pattern:before { content: "\f102"; }
.flaticon-website-design-symbol:before { content: "\f103"; }
.flaticon-programming:before { content: "\f104"; }
.flaticon-hand-shake:before { content: "\f105"; }
.flaticon-data-management-interface-symbol-with-gears-and-binary-code-numbers:before { content: "\f106"; }
.flaticon-responsive-design-symbol:before { content: "\f107"; }
.flaticon-support:before { content: "\f108"; }
.flaticon-bald-head-with-copyright-symbol-and-lifeline-inside:before { content: "\f109"; }
.flaticon-seeding:before { content: "\f10a"; }
.flaticon-man-user:before { content: "\f10b"; }
.flaticon-cosmetics:before { content: "\f10c"; }
.flaticon-portrait:before { content: "\f10d"; }
.flaticon-healthy-lifestyle-logo:before { content: "\f10e"; }
.flaticon-printing:before { content: "\f10f"; }
.flaticon-textile:before { content: "\f110"; }
.flaticon-3d-printer:before { content: "\f111"; }
.flaticon-tissue:before { content: "\f112"; }
.flaticon-parquet:before { content: "\f113"; }
.flaticon-woman:before { content: "\f114"; }